.newPost {
    display: flex;
    background-color: bisque;
}
.visible {
    display: block;
}
.invisible {
    display: none;
}
.addNewPost {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.description {
    align-self: center;
}
.author {
    text-align: center;
}
.selectedImage {
    width: 190px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
}
.card {
    padding: 10px;
    text-align: center;
    background-color: blanchedalmond;
}
.cardImg {
    width: 200px;
}