<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
    <h1>Witom</h1>
    <br> <br>
    <form action="/logout" method="post">
        <button type="submit">Wyloguj</button>
    </form>
</body>
</html>