<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="./css/main.css"/>
</head>
<body>
    <img src="./img/js.png" alt="javascript" width="200"/>
    <h1><%= pageTitle %></h1>
    <div>
        <a href="/">Strona główna</a>
        <a href="/calc">Kalkulator</a>
        <a href="/subs">Subskrybenci</a>
    </div>
</body>
</html>