<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <div>
        <a href="/">Strona główna</a>
        <a href="/calc">Kalkulator</a>
        <a href="/subs">Subskrybenci</a>
    </div>
    <form action="/subscribers" method="post">
        Imię <input type="text" name="firstName"/> <br/>
        Nazwisko <input type="text" name="lastName"/> <br/>
        Email <input type="email" name="email"/> <br/> <br/>
        <button type="submit">Dodaj</button>
    </form>
</body>
</html>