    <%- include("./includes/header.ejs")%>
    <link rel="stylesheet" href="/css/main.css">
    <title>Strona główna</title>
</head>
<body>
    <h1>O nas</h1>
    <h4>Nasi pracownicy:</h4>
    <ul>
        <li>Szymon Gałuszka</li>
        <li>Andrzej Barzyk</li>
    </ul>
    <%- include("./includes/footer.ejs")%>