<%- include('./includes/header.ejs') %>
<%- include('./includes/navigation.ejs') %>

<main>
    <h1><%= pageTitle%></h1>
    <h2>Jesteśmy z Podkarpacia i Małopolski.</h2>
    <p>Zajmujemy się projektowaniem i wdrażaniem oprogramowania.</p>
    <p>Oferujemy atrakcyjne ceny.</p>
</main>
    
<%- include('./includes/footer.ejs') %>