<%- include('./includes/header.ejs') %>
<%- include('./includes/navigation.ejs') %>

<main>
    <h1><%= pageTitle%></h1>
    <h2>Oferujemy wsparcie online 24/7</h2>
    <p>Email: support@test.com</p>
    <p>Infolinia: +48 000 000 000</p>
</main>
    
<%- include('./includes/footer.ejs') %>