<%- include('./includes/header.ejs') %>
<%- include('./includes/navigation.ejs') %>

<main>
    <h1><%= pageTitle%></h1>
    <h2>Witamy na naszej stronie</h2>
    <p>Strona zawiera interfejs do zarządznia użytkownikami systemu.</p>
    <p>Oferujemy korzyste warunki cenowe i wsparcie techniczne 24/7.</p>
</main>
    
<%- include('./includes/footer.ejs') %>