    <%- include("./includes/header.ejs")%>
    <link rel="stylesheet" href="/css/main.css">
    <title>Strona główna</title>
</head>
<body>
    <h1>Strona główna</h1>
    <%- include("./includes/footer.ejs")%>