<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle%></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="logo" height="140">
        <h1>System Zarządzania Użytkownikami</h1>
    </header>