<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Logowanie</title>
  </head>
  <body>
    <%- include('./includes/nav.ejs') %>
    <h1>Logowanie</h1>
    <form action="\login" method="post">
      Email <br />
      <input type="email" name="email" /> <br />
      <br />
      Hasło <br />
      <input type="password" name="password" /> <br />
      <br />
      <button type="submit">Zaloguj</button>
    </form>
    <% if((typeof isLoggedIn !== "undefined") && isLoggedIn) { %>
    <p>Zalogowany: <b><%= email %> </b></p>
    <% } else if((typeof isLoggedIn !== "undefined") && !isLoggedIn) { %>
    <p>Błędne dane logowania, spróbuj jeszcze raz!</p>
    <% } %>
  </body>
</html>
