<%- include('./includes/header.ejs') %>
</head>
<body>
    <nav>
        <a href="/" class="a-nav ">Strona główna</a>
        <a href="/about" class="a-nav a-active">O naszej firmie</a>
    </nav>
    <h1><%=pageTitle%></h1>
    <h2>Misja firmy</h2>
    <p>Chcemy dostarczać usługi najwyższej jakości w konkurencyjnych cenach.</p>
    <h2>Nasze usługi</h2>
    <ol>
        <li>Obsługa systemów sieciowych</li>
        <li>Projektowanie sieci komputerowych</li>
        <li>Projektowanie i utrzymywanie witryn internetowych</li>
    </ol>
<%- include('./includes/footer.ejs') %>